<div class="container mt-5">
    <h1 class="mb-4">Perfil del Empleado</h1>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <img *ngIf="photoURL" [src]="photoURL" alt="Foto de perfil" class="img-fluid rounded-circle"
                style="width: 250px;">
            <img *ngIf="!photoURL" src="../../../../assets/empresa.png" alt="Foto de perfil predeterminada"
                class="img-fluid rounded-circle" style="max-width: 250px;">
        </div>
        @for (empl of empleados; track $index) {
        <div class="col card mb-3 px-5 py-5 d-flex align-items-center">
            <div class="card-body w-100">
                <h5 class="card-title">{{empl.Empleadonombre}} {{empl.Empleadoapellidos}}</h5>
                <p class="card-text"><strong>Email:</strong> {{empl.Empleadoemail}}</p>
                <p class="card-text"><strong>Teléfono:</strong> {{empl.Empleadotelefono}}</p>
                <p class="card-text"><strong>Cargo:</strong> {{empl.Cargo}}</p>

            </div>
            <button (click)="obteerUsuarioActual()" class="btn btn-primary"> Actualizar Datos</button>
        </div>
        }
    </div>
</div>