
    <div class="container mt-5">
        <h1 class="mb-4">Perfil del Empleado</h1>

        @for (empl of empleados; track $index) {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{empl.Empleadonombre}} {{empl.Empleadoapellidos}}</h5>
                <p class="card-text"><strong>Email:</strong> {{empl.Empleadoemail}}</p>
                <p class="card-text"><strong>Teléfono:</strong> {{empl.Empleadotelefono}}</p>
                <p class="card-text"><strong>Cargo:</strong> {{empl.Cargo}}</p>
                
            </div>
        </div>
        }
    </div>

