<!-- <section class="vh-100 text-white d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid pt-2 h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Inicia sesión con</p>
              <a class="googleIco" (click)="iniciarSesionConGoogle()"><fa-icon [icon]="faGoogle"></fa-icon></a>
              <i class="fab fa-facebook-f"></i>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
  
 
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" formControlName="Usuariocorreo_electronico" id="form3Example3" class="form-control form-control-lg"
                placeholder="Introduzca correo electrónico" />
              <label class="form-label" for="form3Example3">Dirección de correo electrónico</label>
            </div>
  

            <div data-mdb-input-init class="form-outline mb-3">
              <input type="password" formControlName="Usuariocontrasena" id="form3Example4" class="form-control form-control-lg"
                placeholder="Introducir la contraseña" />
              <label class="form-label" for="form3Example4">Contraseña</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">

              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Recordar
                </label>
              </div>
              <a href="#!" class="text-body">¿Has olvidado tu contraseña?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="boton-iniciar">Iniciar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta?
                 <a routerLink="/register" class="link-danger cursor-pointer"> Registrar</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    

  </section> -->
<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <h2 class="text-uppercase mb-4 fw-bold">Solo personal Autorizado</h2>
  <div (click)="iniciarSesionConGoogle()" class="card wallet">
    <div class="overlay"></div>
    <div class="circle">
  
  
      <svg viewBox="0 0 256 262" preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
          fill="#4285F4"></path>
        <path
          d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
          fill="#34A853"></path>
        <path
          d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
          fill="#FBBC05"></path>
        <path
          d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
          fill="#EB4335"></path>
      </svg>
  
    </div>
    <p>Inicia con Google </p>
  </div>
</div>