<div class="  nav-jona">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  navbar-dark ">
        <div class="container">
            <div class="d-flex">
                <!-- botones -->
                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- logo -->
                <div class="logo" (click)="redirectToPantallaCarga() " style="cursor: pointer;">
                    <img src="../../../../assets/logoEmpresa.png" alt="" style="height: 50px;" class="me-3">
                    <a class="navbar-brand text-uppercase fs-3 d-none d-lg-block">san Jose</a>
                </div>
            </div>

            <!-- sidebar -->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- sideBar Header -->
                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">San Jose de Porcón</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- Sidebar body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-lg-end flex-grow-1 pe-3">
                        @for (item of menuItems; track $index) {
                        <li class=" mx-2 my-3 my-lg-0" style="cursor: pointer;">
                            <a [routerLink]="item.path" routerLinkActive="active">
                                {{item.title}}</a>
                        </li>
                        }
                        <!-- <button class="btn-Contactos text-uppercase mx-lg-5 ">INICIAR SESIÓN</button> -->
                    </ul>
                </div>
            </div>
            <div class="iconos">
                <!-- <a><fa-icon [icon]="faHeart"></fa-icon> </a> -->
                <!-- <a routerLink="/login"><fa-icon [icon]="faUser"></fa-icon></a> -->
                <!-- shop -->
                <a class="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasShop" role="button"
                    aria-controls="offcanvasShop"><fa-icon [icon]="faCartShopping"></fa-icon></a>
            </div>


        </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasShop" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mi Carrito </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @for (producto of productosCarrito; track $index) {
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5>{{producto.ProductoNombre}}</h5>
                    <p>{{producto.ProductoDescripcion}}</p>
                    <div class="d-flex align-items-center price">
                        <p class="precioPro"> S/. {{ producto.ProductoPrecio }}</p>
                        <p class="fw-bold">Cantidad: {{ producto.quantity }}</p>
                    </div>
                    <p>Sub Total: S/.{{ producto.ProductoPrecio * producto.quantity! }}</p>
                </div>
                
                <button class="btn-delete" (click)="_carritoService.eliminarDelCarrito(producto.ProductoCodigo)"><fa-icon
                    [icon]="faTrash"></fa-icon></button>
            </div>
            <hr>
            }
        </div>

        <div class="offcanvas-footer border-top d-flex justify-content-between" style="padding-left: 25px; padding-top: 10px;">
            <div class="d-flex  align-items-center ">
                <h5 style="margin-right: 50px;" class="offcanvas-title" id="offcanvasExampleLabel">  Total:      </h5>
                <h5 style="margin-bottom: 0;">S/. {{calcularTotal()}} </h5>
            </div>
            <button routerLink="/pedido" class="Boton-Comprar ">Comprar</button>
        </div>
    </div>
</div>