<Section class="productos">
    <div class=" container">
        
        <div class="list-product">
           @for (product of productos; track product.ProductoCodigo) {
               <div class="box"  >
                   <img [src]="product.Productofoto"
                       alt="producto">
                    <p>{{product.Productofoto}}</p>
                   <p>{{ product.Productonombre }}</p>
                   <p>{{ product.Productodescripcion }}</p>
                   <p>Cantidad disponible: {{ product.Productocantidad_disponible }}</p>
                   <p>Precio: {{product.Productoprecio}}</p>
                   <p>Precio total: {{ product.Productoprecio * product.quantity! }}</p>
                   <div class="d-flex align-items-center justify-content-center">
                       <div class="d-flex align-items-center">
                           <div class="iconos">
                               <a class="btn-corazon btn-productos"><fa-icon class="corazon" [icon]="faHeart"></fa-icon></a>
                           </div>
                           <div class="number-input">
                               <button (click)="decrement(product)" class="minus">-</button>
                               <input class="quantity" [min]="minQuantity" [max]="product.Productocantidad_disponible" name="quantity"
                                   [(ngModel)]="product.quantity" type="number" (input)="validateInput(product)">
                               <button (click)="increment(product)" class="plus">+</button>
                           </div>
                           
                           <div class="iconos">
                                <a class="btn-carrito btn-productos" (click)="agregarAlCarrito(product)" ><fa-icon
                                [icon]="faCartShopping"></fa-icon></a>

                           </div>
                       </div>
                   </div>
               </div>
           }
            
        </div>
    </div>

</Section>