<div class="container mt-5">
  <h1 class="mb-4 text-center">Lista de Empleados</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Cargo</th>
        <!-- <th>Acciones</th> -->
      </tr>
    </thead>
    <tbody>
      @for (empleado of empleados; track empleado.EmpleadoCodigo) {
        <tr>
          <td>{{ empleado.EmpleadoCodigo }}</td>
          <td>{{ empleado.Empleadonombre }}</td>
          <td>{{ empleado.Empleadoapellidos }}</td>
          <td>{{ empleado.Empleadodireccion }}</td>
          <td>{{ empleado.Empleadotelefono }}</td>
          <td>{{ empleado.Empleadoemail }}</td>
          <td>
            <select class="form-control" [(ngModel)]="empleado.EmpleadoEstado" (change)="actualizarEmpleado(empleado)">
              <option value="A" [selected]="empleado.EmpleadoEstado === 'A'">Activo</option>
              <option value="D" [selected]="empleado.EmpleadoEstado === 'D'">Inactivo</option>
            </select>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="empleado.Cargo" (change)="actualizarEmpleado(empleado)">
              <option *ngFor="let cargo of cargos" [value]="cargo.CargoNombre">{{ cargo.CargoNombre }}</option>
            </select>
          </td>
          <!-- <td>
            <button class="btn btn-primary" (click)="actualizarEmpleado(empleado)">Guardar</button>
          </td> -->
        </tr>
      }
    </tbody>
  </table>
</div>
