<div class="envios container">
    <h2 class="title"> Busca el hostorial de tu envios: </h2>
    <!-- <h4>ingresa tus datos</h4> -->
    <form class="mt-5 ">
        <div class="form-outline mb-4 w-50">
            <label class="form-label" for="dni">Ingresa tu dni:</label>
            <div class="d-flex">
                <input type="text" id="dni" pattern="\d{8}" class="imputDni form-control form-control-sm"
                placeholder="Ingresa el dni" required />
                <button class="boton-enviar ">enviar</button>
            </div>
        </div>
    </form>
</div>