.envios {
  padding-top: 80px;
  color: #000000;
  min-height: 40vw;
}

.title {
  font-weight: bold;
}

.btn-enviar {
  /* border: none;
  margin-left: 15px;
  border-radius: 8px; */
  font-weight: bold;
  background-color: #0e2238a0;
  height: 35px;
  width: 95px;
}
