<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/EmpresaAdmin/home">Tienda De Lacteos</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            @for (item of combinedMenuItems; track $index) {
            <li class="sidebar-item" style="cursor: pointer;">
                <a class="sidebar-link d-flex align-items-center"
                    (click)="item.title === 'Conversaciones' ? toggleConversaciones() : null" [routerLink]="item.path"
                    routerLinkActive="active">
                    <i class="{{item.icon}}"></i>
                    <span>{{item.title}}</span>

                </a>
                <ul *ngIf="isConversacionesExpanded && item.title === 'Conversaciones'" class="sidebar-dropdown">
                    <li *ngFor="let subItem of subMenuConversaciones; let j = index" class="sidebar-item">
                        <a class="sidebar-link"
                            [routerLink]="['/Empresa/conversaciones-gestor', subItem.path]" routerLinkActive="active">
                            {{subItem.title}}
                        </a>
                    </li>
                </ul>
            </li>
            }
        </ul>
        <div class="sidebar-footer">
            <a class="sidebar-link" (click)="cerrarSesion()">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <router-outlet />
    </div>
</div>