<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/EmpresaAdmin/home">Tienda De Lacteos</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            @for (item of menuItems; track $index) {
            <li class="sidebar-item" style="cursor: pointer;">
                <a class="sidebar-link" [routerLink]="item.path" routerLinkActive="active">
                    <i class="lni lni-user"></i>
                    <span>{{item.title}}</span>

                </a>
            </li>
            }
            <!-- <li class="sidebar-item">
                <a class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Perfil</span>
                </a>
            </li> -->
            <!-- <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
                    aria-expanded="false" aria-controls="auth">
                    <i class="lni lni-protection"></i>
                    <span>Auth</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Login</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Register</a>
                    </li>
                </ul>
            </li> -->

        </ul>
        <div class="sidebar-footer">
            <a class="sidebar-link" (click)="cerrarSesion()">
                <i class="lni lni-exit"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <router-outlet />
    </div>
</div>
<!-- 
<app-nav-bar-admin/>


<app-flooter></app-flooter> -->