<div class="mini-chat" *ngIf="isVisible">
  <div class="chat-header">
    Atención al Cliente
    <a (click)="closeChat()"><fa-icon [icon]="faXmark"></fa-icon></a>
  </div>
  <div class="chat-body" #messageContainer>
    <div *ngIf="!dni">
      <input type="text" [(ngModel)]="dniInput" placeholder="Ingrese su DNI..." maxlength="8"/>
      <button (click)="submitDni()">Enviar</button>
    </div>
    <div *ngIf="dni">
      <div class="preset-messages">
        <button *ngFor="let preset of presetMessages" (click)="sendPresetMessage(preset)" >
          {{ preset }}
        </button>
      </div>
      <div class="messages">
        <div *ngFor="let message of messages" [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
          {{ message.text }}
        </div>
        <div *ngIf="isTyping" class="typing-indicator">
          <span></span><span></span><span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-footer" *ngIf="dni">
    <div class="d-flex align-items-center">
      <input class="input-message" type="text" [(ngModel)]="userInput" placeholder="Escribe un mensaje..." (keydown.enter)="sendMessage()" />
      <a (click)="sendMessage()"><img class="iconos" src="../../../../../assets/icons/enviar-mensaje.png" alt="" /></a>
    </div>
  </div>
</div>
