/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Poppins', sans-serif;
    /* color: black; */
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome */
}


/* .cdk-overlay-container {
    display: flex;
    justify-content: center;
    align-items: top;
  } */
  
  .cdk-overlay-pane {
    position: fixed !important;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  
  /* .mat-snack-bar-container {
    background-color: #ff5722 !important; 
    color: white; /
  }
  
  .mat-mdc-snack-bar-actions button {
    color: white;
  }
   */