<section class="Inicio container d-flex flex-column flex-lg-row justify-content-center align-items-center vh-100" >
    <div class="box-inicio container d-flex flex-column align-items-center align-items-lg-start justify-content-center  ">
        <h5 class=" title text-center text-lg-start  fs-3  text-lg-uppercase " > Asociación de productores y agropecuarios y derivados lacteos san jose de porcon</h5>
        <p class=" desciption text-lg-start text-center mt-3" >Descubre la frescura de nuestros productos agropecuarios y lácteos en San José de Porcon. ¡Bienvenido a nuestra comunidad!</p>
        <button routerLink="/dashboard/products" routerLinkActive="router-link-active"  class="button-custom text-uppercase ">Conocer Mas</button>
    
    </div>
    <img class="imagen-empresa" src="../../../assets/empresa.png" alt="">
</section>